<div class="row">
    <h2>Class Templates</h2>
    <div class="col-sm-4">
        <input placeholder="Search"
               class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <data-table id="users-grid"
                    [items]="classTemplates"
                    [itemCount]="classTemplateCount"
                    (reload)="reloadItems($event)"

                    [limit]="10"
                    [sortBy]="'start'"
                    [sortAsc]="false"

                    [indexColumn]="false"
                    [substituteRows]="true"
                    [translations]="translations"
        >
            <data-table-column
                    [header]="Edit"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableCell let-item="item">
                    <i class="btn fa fa-pencil-square-o pull-left" (click)="editItem(item.id,$event)" title="Edit Class Template"></i>
                </ng-template>
            </data-table-column>

            <data-table-column
                    [property]="'course_id'"
                    [header]="'Course'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [property]="'name'"
                    [header]="'Name'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [property]="'start'"
                    [header]="'Start Date & Time'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [property]="'duration'"
                    [header]="'Duration'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [property]="'location'"
                    [header]="'Location'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [property]="'capacity'"
                    [header]="'Capacity'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [property]="'description'"
                    [header]="'Description'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>
            <data-table-column
                    [header]="Delete"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableHeader let-item="item">
                    <i class="btn btn-default fa fa-plus-square" (click)="addItem($event)" title="Add Class"></i>
                </ng-template>
                <ng-template #dataTableCell let-item="item" >
                    <i class="btn fa fa-trash pull-right"
                       (click)="deleteItem(item.id,$event)" title="Delete Class"></i>
                </ng-template>

            </data-table-column>
        </data-table>
    </div>
</div>

