<div class="row">
    <h2>Participants</h2>
    <div class="col-sm-4">
        <input placeholder="Search"
               class="form-control" />
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default">Advanced Search</button>
    </div>
    <div class="col-sm-4 col-sm-offset-2 pull-right">
        <div class="btn-group pull-right">
            <button class="btn btn-default">Export</button>
            <button class="btn btn-default">Import Participants</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <data-table id="participantGrid"
                    [items]="participants"
                    [itemCount]="participantCount"
                    (reload)="reloadItems($event)"

                    class="fixed-headers"
                    [limit]="10"
                    [sortBy]="'identifier'"
                    [sortAsc]="true"

                    [indexColumn]="false"
                    [substituteRows]="true"
                    [translations]="translations"
        >
            <data-table-column
                    [header]="Edit"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableHeader let-item="item">
                    View/ Edit
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <div class="text-center">
                        <i class="btn fa fa-pencil-square-o fa-lg" (click)="editItem(item.id,$event)" title="Edit Participant"></i>
                    </div>
                </ng-template>
            </data-table-column>

            <data-table-column
                    [property]="'identifier'"
                    [header]="'Identifier'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'first_name'"
                    [header]="'First Name'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'last_name'"
                    [header]="'Last Name'"
                    [sortable]="true"
                    [resizable]="false"></data-table-column>

            <data-table-column
                    [property]="'email'"
                    [header]="'Email'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'created_at'"
                    [header]="'Create Date'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'created_by_id'"
                    [header]="'Created By'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [header]="Delete"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableHeader let-item="item">
                    <i class="btn btn-default fa fa-plus-square fa-lg" (click)="addItem($event)" title="Add Participant"></i>
                </ng-template>
                <ng-template #dataTableCell let-item="item" >
                    <i class="btn fa fa-trash fa-lg pull-right"
                       (click)="deleteItem(item.id,$event)" title="Delete Participant"></i>
                </ng-template>

            </data-table-column>
        </data-table>
    </div>
</div>
