table {
  background-color: $imp-gray-lighter;

  th,tr {
    height: $row-height;
  }

}

.no-pagination-limit > .data-table-wrapper
  > data-table-pagination
  > .pagination-box
  > .pagination-controllers
  > .pagination-limit {
    display:none;
}