table {
  background-color: $imp-gray-lighter;

  th,tr {
    height: $row-height;
  }

/*  th {
    background-color: $imp-blue;
    color: $white;
  }*/

  tr.selected {
    background-color: $row-active !important;
  }

}

.no-header-controls > .data-table-wrapper
  > data-table-header {
  display: none;
}

.no-pagination-limit > .data-table-wrapper
  > data-table-pagination
  > .pagination-box
  > .pagination-controllers
  > .pagination-limit {
    display:none;
}