
.login-box{
  padding-top: 25px;
  background-color: white;
  border: 1px solid $imp-gray;
  height: 500px;
}

.login-title{
  color: $imp-gray;
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
}