<div class="row">
    <h2>Survey Templates</h2>
    <div class="col-sm-4">
        <input placeholder="Search"
               class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <data-table id="users-grid"
                    [items]="surveyTemplates"
                    [itemCount]="surveyTemplateCount"
                    (reload)="reloadItems($event)"

                    [limit]="10"
                    [sortBy]="'name'"
                    [sortAsc]="true"

                    [indexColumn]="false"
                    [substituteRows]="true"
                    [translations]="translations"
        >
            <data-table-column
                    [header]="Preview"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableCell let-item="item">
                    <i class="btn fa fa-search pull-left" (click)="viewItem(item.id,$event)" title="Preview Survey"></i>
                </ng-template>
            </data-table-column>

            <data-table-column
                    [header]="Edit"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableCell let-item="item">
                    <i class="btn fa fa-pencil-square-o pull-left" (click)="editItem(item.id,$event)" title="Edit Survey Template"></i>
                </ng-template>
            </data-table-column>

            <data-table-column
                    [property]="'title'"
                    [header]="'Name'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'description'"
                    [header]="'Description'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'published'"
                    [header]="'Published?'"
                    [sortable]="true"
                    [width]="115"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [header]="Delete"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableHeader let-item="item">
                    <i class="btn btn-default fa fa-plus-square" (click)="addItem($event)" title="Add Survey Template"></i>
                </ng-template>
                <ng-template #dataTableCell let-item="item" >
                    <i class="btn fa fa-trash pull-right"
                       (click)="deleteItem(item.id,$event)" title="Delete Survey Template"></i>
                </ng-template>

            </data-table-column>
        </data-table>
    </div>
</div>

