$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

//main colors
$imp-gray: rgb(154, 177, 193);
$imp-blue: rgb(82, 160, 209);
$imp-gray-light: rgb(234, 239, 242);
$imp-gray-lighter: rgb(243, 246, 247);
$imp-gray-dark: rgb(133, 134, 136);
$white: #ffffff;


//Table Variable
$row-height: 34px;