<div class="row">
    <h2>Message Templates</h2>
    <div class="col-sm-3">
        <input placeholder="Search"
               class="form-control" />
    </div>
    <div class="col-sm-3">
        <div class="col-sm-3">
            <label for="drpdwnTypeFilter" class="pull-right">Type</label>
        </div>
        <div class="col-sm-9">
            <select id="drpdwnTypeFilter" class="form-control">
            </select>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <data-table id="message-template-grid"
                    [items]="messageTemplates"
                    [itemCount]="messageTemplateCount"
                    (reload)="reloadItems($event)"

                    [limit]="10"
                    [sortBy]="'name'"
                    [sortAsc]="true"

                    [indexColumn]="false"
                    [substituteRows]="true"
                    [translations]="translations"
        >
            <data-table-column
                    [header]="Edit"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableHeader let-item="item">
                    View/ Edit
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <div class="text-center">
                        <i class="btn fa fa-pencil-square-o fa-lg" (click)="editItem(item.id,$event)" title="Edit Message Template"></i>
                    </div>
                </ng-template>
            </data-table-column>

            <data-table-column
                    [property]="'template_type'"
                    [header]="'Type'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'name'"
                    [header]="'Name'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'subject'"
                    [header]="'Subject'"
                    [sortable]="true"
                    [resizable]="false"></data-table-column>

            <data-table-column
                    [property]="'created_at'"
                    [header]="'Create Date'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [property]="'updated_at'"
                    [header]="'Update Date'"
                    [sortable]="true"
                    [resizable]="false">
            </data-table-column>

            <data-table-column
                    [header]="Delete"
                    [sortable]="false"
                    [width]="50"
                    [resizable]="false">
                <ng-template #dataTableHeader let-item="item">
                    <i class="btn btn-default fa fa-plus-square fa-lg" (click)="addItem($event)" title="Add Message Template"></i>
                </ng-template>
                <ng-template #dataTableCell let-item="item" >
                    <i class="btn fa fa-trash fa-lg pull-right"
                       (click)="deleteItem(item.id,$event)" title="Delete Message Template"></i>
                </ng-template>

            </data-table-column>
        </data-table>
    </div>
</div>
